a{
    text-decoration: none;
    color: white;
}
ul{
    background-color: black;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
h1{
    background-color: aqua;
}
@media screen and (max-width: 375px)and (min-width: 320px) {
    img{
        aspect-ratio:3/4;
    }
}